a,
a:hover {
    text-decoration: none;
}


/*###########################################*/
/*Header*/
/*###########################################*/
.HeaderBanner {
    padding: 10px 0px;
}

.SearchFormBox {
    margin: 0px 0px 0px 15%;
}

.header {
/*    position: fixed;*/
    z-index: 999;
    background-color: white;
    width: 100%;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.06);
}

/*------------------------*/
/*Navigation*/
/*------------------------*/
.Navigation {
    width: 100%;
    background-color: #ffffff;

}

.Navigation a {
    text-decoration: none;
}

.fa-home {
    padding: 10px;
    margin: 10px;
    font-size: 20pt;
    color: #3f3f3f;
    transition: all 0.3s ease;
}

.fa-home:hover {
    background-color: #3f3f3f;
    color: white;
}

.SearchForm .suchfeld {
    border: 1px solid #3f3f3f;
    border-radius: 0px;
    width: 250px;
    padding: 0px 0px 0px 10px;
    transition: padding 0.2s ease, border-radius 0.2s ease;
    margin-right: 20px;

}

.SearchForm .suchfeld:focus {
    border: 2px solid #3f3f3f;
    outline: none;
    padding-left: 16px;
    border-radius: 20px;
}

.SearchForm .suchbutton {
    background-color: #fff;
    color: #3f3f3f;
    border: 0px solid black;
    font-size: 15pt;
    transition: all 0.2s ease;
}

.SearchForm .suchbutton:focus {}

.LogoMT {
    width: 150px;
}

.suchbutton {
    font-family: 'FontAwesome';
}

.NavigationsPoint {
    padding: 10px;
    color: #3f3f3f;
    transition: background-color 0.3s ease, color 0.4s ease, border-radius 0.3s ease;
    margin: 10px;
    border-bottom: 1px solid #3f3f3f;
    font-family: 'Bellota Text', bold;
}

.NavigationsPoint:hover {
    color: #fff;
    background-color: #3f3f3f;
}

.vorteile_leiste {
    width: 100%;
    padding: 0px 0px 10px 0px;
}

.vorteile_leiste .vorteilpunkt {
    padding: 10px 20px 0px 20px;
    color: #a7a7a7;
    font-size: 10pt;
}

@media only screen and (max-width: 778px) {
    .vorteile_leiste {
        display: none;
    }

  
}

@media only screen and (max-width: 991px) {
    .header {
        position: relative;
    }
    
    
      .SearchFormBox {
        margin: 0px 0px 20px 0px;
    }

    .HeaderBanner > a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 20px;
    }
}


/*------------------------*/
/*Mobile Navigation*/
/*------------------------*/
.mobile_nav_element {
    width: 80px;
    height: 80px;
    margin: 0px 10px;
}

@media only screen and (max-width: 750px) {
    .mobile_nav_element {
        width: 50px;
        height: 50px;
    }
}

@media only screen and (max-width: 520px) {
    .mobile_nav_element {
        width: 30px;
        height: 30px;
    }
}


/*------------------------*/
/*Shop_Kategorien*/
/*------------------------*/
.Shop_Kategorien input{
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 4; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

.ButtonNavCSS{
    position: absolute;
    width: 40px;
  height: 40px;
    z-index: 3;
    background-color: black;
}

.Shop_KategorienSlide{
     position: absolute;
     background-color: #9D212D;
    width: 100%;
    padding: 10px;
    z-index: 2;
}

.Shop_Kategorien input:checked ~ .Shop_KategorienSlide{
    position: absolute;
   background-color: #3f3f3f;
}



/*------------------------*/
/*Old Navigation Anpassungen*/
/*------------------------*/

.LogoHeader {
    transition: transform 0.3s ease;
}

.LogoHeader:hover {
    transform: scale(1.03);
}

.container {
    padding: 40px 0px;
}

.small_container_padding {
    padding: 2px 0px;
}

.art h1:before,
.container h1:before {
    color: white;
}

.art h1,
.container h1 {
    background: #fff;
}

.art h1:after,
.container h1:after {
    color: white;
}

.dsc h2 {
    border-bottom: 0px;
}

.Highlights_Punkte {
    text-align: left;
}


/* ######################################### */
/* CONTENT */
/* ######################################### */

.CONTENT {
    max-width: 1600px;
    padding: 0px 30px;
}

/*------------------------*/
/* Animations */
/*------------------------*/
.IMGBlend_V1 {
    transition: all 0.3s ease;
}

.IMGBlend_V1:hover {
    opacity: 0.8;
    border-radius: 30px;
}

/*------------------------*/
/* Buttons */
/*------------------------*/

.Button-V2 {
    color: #3f3f3f;
    width: 200px;
    text-align: center;
    font-family: 'Bellota Text', bold;
    font-weight: bold;
    font-size: 14pt;
    transition: all 0.5s ease;
    padding: 10px 10px 10px 10px;
    border: solid 1px #3f3f3f;
}

.Button-V2:hover {
    color: #FFF;
    background-color: #3f3f3f;
    border-radius: 50px;
    padding: 10px 10px 10px 30px;
}


.Buttons_Startseite_V1 {
    color: #3f3f3f;
}

.Buttons_Startseite_V1:hover {
    color: white;
    background-color: #3f3f3f;
}

/*------------------------*/
/* IMG */
/*------------------------*/
.IMG_BOX {
    overflow: hidden;

}

.IMG_BOX > img {
    width: 600px;
    min-width: 600px;
    max-height: 360px;
}


.BildreiheIMG {
    max-width: 300px;
    margin: 0px 10px;
}


.BilderReiheBox{
    justify-content: space-between; 
}

@media only screen and (max-width: 991px) {
    .BilderReiheBox{
        justify-content: center;
    flex-wrap: wrap;
    }
}


/*------------------------*/
/* Text */
/*------------------------*/
.Text_R_V1 {
    width: 40%;
    padding: 20px 20px;
}


.Text_Element_V1 {
    color: #3f3f3f;
    font-family: 'Roboto';
}

@media only screen and (max-width: 991px) {
    .IMG_BOX > img {
        width: 100%;
        min-width: 100px;
        max-height: 100%;
    }

    .Text_R_V1 {
        width: 100%;
        padding: 20px 20px;
    }


    .BilderReiheBox {
        width: auto;
    }
}



/*------------------------*/
/* Headlines */
/*------------------------*/

.MiniTitleText{
    margin-top: 20px;
}



.Headlines_Startseite {
    font-family: 'Bellota Text', bold;
    font-size: 25pt;
    color: #3f3f3f;
    text-align: center;
    padding: 0;
    margin: 0;
    transition: all 0.5s ease;
    padding: 0px 20px 0px 20px;
    font-weight: bold;
}


.HeadlineLink:hover .Headlines_Startseite {
    /*    color: #d4b7b7;*/
    color: #cecece;
}

.Kursiv-Headlines-Startseite {
    font-family: 'Bellota Text', cursive;
    font-style: italic;
    color: #a38181;
    color: #323232;
    text-align: center;
    font-size: 20pt;
    padding-top: 0;
    margin-top: 10px;
    transition: all 0.5s ease;

}

.HeadlineLink:hover .Kursiv-Headlines-Startseite {
    color: #c5c5c5;
}

.Trennstrich {
    width: 100%;
    height: 1px;
    background-color: #9D212D;
    margin-top: 40px;
}


.HeadlinesBox {
    display: flex;
    justify-content: center;
    width: 100%;
}

.MiniTitleText,
.MiniTitleText a {
    font-family: 'Bellota Text', bold;
    color: #323232;
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.5s ease;
}

.MiniTitleText a:hover {
    color: #9D212D;
}


.BiggerH1 {
    font-size: 40pt;
    width: 600px;
}

.WrapText {
    white-space: nowrap;

}

@media only screen and (max-width: 766px) {
    .Headlines_Startseite {
        font-size: 20pt;

    }

    .WrapText {
        white-space: normal;
    }

    .Kursiv-Headlines-Startseite {
        font-size: 18pt;
    }

    .BiggerH1 {
        font-size: 25pt;
        width: 100%;

    }
}


/*------------------------*/
/*Kathegorien Menü*/
/*------------------------*/

div.kategorien {
    background: white;
    box-shadow: 0px 0px 10px #0000001a;
}

div.kategorien ul li:first-child {
    background: #fff;
}

div.kategorien ul li:first-child:hover a {
    color: #9D212D;
}

div.kategorien ul li {
    font-family: 'Bellota Text';
    font-weight: 800;
}

div.kategorien ul li:hover a {
    color: #9D212D;
}

.dsc ul li:before {
    color: #9D212D;
}

.kaufenbox {
    background: #fff;
}

.preis {
    text-align: left;
}

.suche {
    display: none;
}

a.beo i,
a.fsb i {
    color: #9D212D;
}

a.beo:hover,
a.fsb:hover {
    color: #9D212D;
}

/*------------------------*/
/*Tabs*/
/*------------------------*/
@Keyframes TabContentAnim {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }

}

.tabs label {
    background: #fff;
    transition: border-radius 0.3s ease, background 0.5s ease;
    border-radius: 0;
    border-bottom: 2px solid #9D212D;
}

.tabs label:hover {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.tab-content {

    animation: TabContentAnim 0.5s ease;
}

.tab-content span {
    font-family: 'Roboto';
    color: #4D4F4D;
    border: 0px;
}

.tab-content > h2 {
    font-family: 'Bellota Text';
    font-weight: 800;
    font-size: 18pt;
}

.tabs [id^="tab"]:checked + label {
    background: #9D212D;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}



/*------------------------*/
/*Service*/
/*------------------------*/

.service {
    background-color: #fff;
    margin: 0px 0px;
    padding: 0px;

}

.service > div > div {
    margin: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    text-align: center;
    color: #3f3f3f;
    padding-top: 20px;
    font-family: 'Roboto';
    height: auto;
}

.service i {
    color: #9D212D;
    transform: scale(2);
}

.service_kachel {
    padding: 20px 30px 30px 30px;
    border-radius: 30px;
    width: 50%;
    margin: 10px;
    transform: scale(0.98);
    transition: transform 0.3s ease, border-radius 0.3s ease;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.13);
    background: #fff;
    line-height: 30px
}

.service_kachel:hover {
    transform: scale(1);
    cursor: pointer;
    border-radius: 50px;
}

.service_kachel h2 {
    font-family: 'Bellota Text';
    font-weight: 800;
    font-size: 22pt;
    margin: 20px 0px 0px 0px;
}

.service div h2 {
    padding: 10px 0px 0px 0px;
    font-size: 18pt;
}

.TabsSloganText {
    margin: 0px;
    margin-bottom: 20px;
    font-family: 'Bellota Text';
    color: #9D212D;
    font-size: 15pt
}

@media only screen and (max-width: 991px) {

    .service div div {
        height: auto;
    }

    .service_kachel {
        width: 100%;
        box-shadow: 0px 0px 0px black;
        margin: 0;
        padding: 30px 0px 50px 0px;
        border-bottom: 2px solid #9D212D;
        border-radius: 0px;
    }

    .service_kachel:hover {
        border-radius: 0px;
        transform: scale(0.98);
    }
}

@media (max-width: 1200px) and (min-width: 992px) {
    .service div h2 {
        font-size: 20pt;
    }
}


/*------------------------*/
/*Products*/
/*------------------------*/

div.xsell h4 {
    background: #fff;
}

@media (max-width: 992px) {

    div.xsell h4 {}

}

.WeitereKategorienTitle {
    font-size: 16pt;
    font-family: 'Bellota Text';
}

div.xsell {
    transition: all 0.3s ease;
    transform: scale(1);
    margin: 0;
}

div.xsell:hover {
    background: #fff;
    transform: scale(1.02);
    opacity: 0.7;
}

div.xsell span {
    color: #9D212D;
}

.TitleCrossSellingArtikel {
    font-size: 10pt;
    font-family: 'Roboto';
}



/*------------------------*/
/*Footer*/
/*------------------------*/

.nws {
    background: #9D212D;
}

a.news,
a div.news {
    color: #3f3f3f;
    background: #fff;
}

a.news {
    transition: transform 0.3s ease;
}

a.news:hover {
    transform: scale(1.02);
}


.footer h6 {
    background: #fff;
    color: #3f3f3f;
}

.footer ul li a {
    color: #fff;
}

.footer p.zvb i {
    color: #fff;
}

.footer p {
    color: #fff;
}

.footer a.kontakt {
    border: 0px;
    background: #fff;
    color: #3f3f3f;
}

.footer a.kontakt:hover {
    background: #fff;
    color: #9D212D;
}

.footer a.kontakt:before {
    background: #9D212D;
    color: #fff;
}

.VersandFooter img {
    margin: 5px 10px;
}
